* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
#navbar {
    /* border: 1px solid black; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px;
    height: 90px;
    /* background-color: #edede9; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo {
    height: 50px;
    margin-left: 10px;
}
#admin-header {
    padding: 10px 15px;
    border-radius: 10px;
    display: none;
    text-decoration: none;
    background-color: #48cae4;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#admin-header:hover {
    transform: scale(1.02);
}
#admin-header:active {
    transform: scale(0.98);
}

#navbar #links {
    /* border: 1px solid black; */
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#links > a {
    text-decoration: none;
}
#links > a:hover {
    transform: scale(1.1);
    /* text-decoration: underline; */
    /* text-decoration-color: #0d0c22; */
}
#links > a:active {
    transform: scale(0.95);
}
#links > a:last-child > span{
    color: #ec54a7;
}
#links span {
    font-size: 18px;
    color: #0d0c22;
    cursor: pointer;
}
#nav-btn {
    /* border: 1px solid black; */
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* visibility: hidden; */
}
#nav-btn > a {
    text-decoration: none;
    color: black;
}
#nav-btn > a > div {
    padding: 12px 20px;
    /* border: 1px solid black; */
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
}
#nav-btn div:active {
    transform: scale(0.95);
}
#nav-btn > a:last-child > div {
    background-color: black;
    color: white;
}
#profile-div {
    position: relative;
    /* width: 10%; */
    /* border: 1px solid black; */
    display: none;
    margin-right: 10px;
    align-items: center;
}
#profile-div img {
    height: 40px;
    border-radius: 50px;
    margin-left: 10px;
}

#profile-hover-div {
    visibility: hidden;
    width: 300px;
    border-radius: 10px;
    /* height: 500px; */
    margin-top: 50vh;
    margin-left: 74vw;
    padding: 20px;
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid black; */
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    /* margin-top: 500px; */
}
#profile-hover-div > div {
    margin-bottom: 20px;
}
#profile-hover-name {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#profile-hover-name img {
    width: 70px;
    margin-bottom: 10px;
    border-radius: 50px;
}
#profile-hover-name > span {
    font-size: 14px;
}
#profile-hover-settings {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 1px solid rgb(201, 201, 201);
}
#profile-hover-settings a {
    margin-bottom: 20px;
    text-decoration: none;
    color: rgb(126, 126, 126);
}
#profile-hover-settings a:hover {
    color: black;
    transform: scale(1.02);
}
#signout-btn {
    padding: 8px 10px;
    border-radius: 5px;
    border: 1px solid rgb(209, 209, 209);
}
#signout-btn:hover {
    background-color: #ffba08;
    cursor: pointer;
    /* color: white; */
}
#signout-btn:active {
    transform: scale(0.95);
}
#login-msg-div {
    /* visibility: hidden; */
    width: 100%;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
#login-msg {
    font-size: 30px;
    color: #868686;
}
#main {
    padding: 20px;
    /* border: 1px solid black; */
    width: 80vw;
    /* height: 70vh; */
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    display: grid;
    grid-template-columns: 1fr 4fr;
    /* grid-template-rows: 1fr 4fr; */
    grid-template-areas: 
    "about about"
    "options data"
    ;
}
#main > div {
    /* border: 1px solid black; */
    padding: 20px;
}
#profile-header {
    grid-area: about;
    display: flex;
    justify-content: space-between;
}
#profile-about {
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
}
#profile-about > img {
    width: 60px;
    border-radius: 50px;
    margin: 0 20px 0 10px;
}
#profile-about span:first-child {
    font-size: 22px;
}
#profile-about span:last-child {
    font-size: 20px;
}
#option-msg {
    margin-top: 5px;
    font-size: 16px;
    color: #868686;
}
#pro-link {
    width: 25%;
    text-decoration: none;
}
#pro {
    /* border: 1px solid black; */
    display: flex;
    padding: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 0 15px; */
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 5px;
}
#pro > div {
    font-size: 16px;
}
#pro > div > span:first-child {
    font-weight: bold;
}
#pro > div > span:last-child {
    font-weight: bold;
    color: #ea4c89;
}
#pro > P {
    font-size: 14px;
    color: #868686;
}

#pro:hover {
    
    background-image: linear-gradient(to right, #f07855 , #df4373);
    color: white;
}
#pro:hover p {
    color: white;
}
#pro:hover > div > span {
    color: white;
}

#profile-options {
    grid-area: options;
}
#profile-options * {
    margin-bottom: 15px;
}
#profile-options a {
    text-decoration: none;
    /* color: black; */
}
#profile-options > ul {
    list-style: none;
}
#profile-options > ul > li > a {
    color: #868686;
    font-size: 15px;
    line-height: 24px;
}
#profile-options > ul > li > a:hover {
    color: black;
}
#profile-options > ul > li:first-child a {
    font-weight: bold;
    color: #0d0c22;
}


#profile-data {
    grid-area: data;
}
#profile-data > div {
    margin-bottom: 30px;
}
#profile-data > div > div {
    display: flex;
    flex-direction: column;
}
#profile-data > div > div * {
    margin-bottom: 15px;
}
#profile-data > div > div > input {
    padding: 15px 10px;
    border-radius: 8px;
    border: 1px solid #cecece;
    background-color: #ffffff;
    transition: 0.3s;
    outline: none;
    /* width: 50%; */
}
#profile-data > div > div > input:hover {
    cursor: text;
    background-color: white;
    box-shadow: rgba(95, 95, 95, 0.16) 0px 10px 36px 0px, rgba(31, 31, 31, 0.06) 0px 0px 0px 1px;
}
#profile-data > div > div > input:focus {
    border: 1px solid rgb(163, 163, 163)
}
textarea {
    padding: 15px 10px;
    border-radius: 8px;
    border: 1px solid #cecece;
    background-color: #ffffff;
    transition: 0.3s;
    outline: none;
}
textarea:hover {
    cursor: text;
    background-color: white;
    box-shadow: rgba(95, 95, 95, 0.16) 0px 10px 36px 0px, rgba(31, 31, 31, 0.06) 0px 0px 0px 1px;
}
textarea:focus {
    border: 1px solid rgb(163, 163, 163)
}
.save-btn {
    margin-top: 10px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    color: white;
    background-color: #f0316a;
}
.save-btn:hover {
    background-color: #ea4c89;
    cursor: pointer;
}
.save-btn:active {
    transform: scale(0.98);
}

#edit-data {
    display: none;
}
#pwd-data {
    display: none;
}

#footer {
    display: flex;
    background-color: #fafafb;
    flex-direction: column;
}
#footer-top {
    display: flex;
    justify-content: space-between;
    padding: 40px;
}
#footer-top > div {
    border-bottom: 1px solid #e7e7e9;
}
#footer-left {
    width: 25%;
    padding: 50px;
}
#footer-left img {
    width: 100%;
}
#footer-left * {
    margin-bottom: 20px;
}
#footer-left  a {
    font-size: 20px;
    margin-right: 10px;
    text-decoration: none;
    color: rgb(66, 66, 66);
}
#footer-left  a:hover {
    color: black;
}
#footer-right {
    width: 75%;
    padding: 50px;
    display: flex;
    justify-content: space-between;
}
#footer-right > div {
    padding: 10px;
}
#footer-right ul {
    list-style: none;
}
#footer-right ul > li > a{
    text-decoration: none;
    color: rgb(83, 83, 83);
}
#footer-right ul > li > a:hover {
    color: black;
}
#footer-right * {
    margin-bottom: 20px;
    font-size: 17px;
}
#footer-bottom {
    padding: 0 40px 40px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#copyright {
    color: #868686;
}
#crunched-designs {
    /* border: 1px solid black; */
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#crunched-designs > span:nth-child(2) {
    margin-left: 5px;
    color: #868686;
}
#crunched-designs img {
    width: 30px;
    margin-left: 10px;
}